.shopwid_wrapper {
  position: relative;
  //   width: 361px;
  //   height: 534.09px;
  //   overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  //   @media screen and (max-width: 1207px) {
  //     width: 100%;
  //   }
  //   @media screen and (max-width: 985px) {
  //     height: fit-content;
  //
  .shopwid_image_wrap {
    height: auto;
    width: 100%;
    position: relative;
    .shopwid_overlay {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      background-color: rgba(255, 255, 255, 0.11);
      opacity: 0;
      &:hover {
        background-color: rgba(255, 255, 255, 0.897);
        opacity: 1;
      }
      .shopwid_button {
        font-family: "Rubik";
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #222222;
        cursor: pointer;
        border: 2px solid #222222;
        background-color: unset;
        padding: 0.8rem 1.5rem;
        &:hover {
          background-color: black;
          color: white;
        }
      }
    }
    .shopwid_img {
      height: 100%;
      width: 100%;
      // @media screen and (max-width: 1207px) {
      //   width: 100%;
      //   height: auto;
      //   border-radius: 50px;
      // }
    }
  }
  .shopwid_text1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 22.4px;
    line-height: 31px;
    text-align: center;
    color: #222222;
    max-width: 243px;
    // @media screen and (max-width: 600px) {
    //   font-size: 16px;
    //   letter-spacing: 0px;
    //   line-height: 20px;
    // }
  }
  .shopwid_text2 {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #444444;
  }
}
