.shop_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  .shop_nav {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.315);
  }
  // .shop_filter_options {
  // }
  .shop_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 4rem 3rem;
    margin-bottom: 4rem;
    @media screen and (max-width: 420px) {
      padding: 2rem 1rem !important;
    }
    .shop_header {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 700;
      font-size: 84px;
      line-height: 101px;
      text-align: center;
      color: #222222;
    }
    .shop_sorting {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      width: 100%;
      margin-top: 1.5rem;
      margin-bottom: 2rem;
      @media screen and (max-width: 550px) {
        flex-direction: column;
      }
      .shop_sort_left {
        font-family: "Rubik";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 19px;
        text-transform: uppercase;
        color: #444444;
        @media screen and (max-width: 550px) {
          align-self: flex-start;
        }
      }
      .shop_sort_select {
        border: none;
        @media screen and (max-width: 550px) {
          padding: 8.8px 11px;
          border: 1px solid black;
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          //   justify-content: space-between;
          width: 100%;
        }
        .shop_sort_right {
          * {
            cursor: pointer;
            font-family: "Rubik";
            font-style: normal;
            font-weight: 400;
            font-size: 11px;
            line-height: 13px;
            text-align: right;
            letter-spacing: 0.33px;
            text-transform: uppercase;
            color: #444444;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5rem;
            @media screen and (max-width: 550px) {
              justify-content: space-between;
              width: 100%;
            }
          }
        }
      }
    }
    .shop_widget_wrap {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      @media screen and (max-width: 900px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media screen and (max-width: 650px) {
        grid-template-columns: repeat(1, 1fr);
        gap: 2.5rem;
      }
    }
  }
}
