@mixin nav_social {
  color: white;
}
@mixin nav_link {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 90px;
}
.nav_wrapper_white {
  background: white !important;
  transition: background 0.2s ease-in-out;
}
.nav_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  height: 91px;
  background: linear-gradient(90deg, #596865 33.33%, #325046 83.85%);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  padding: 0rem 3rem;
  transition: background 0.2s ease-in-out;
  @media screen and (max-width: 990px) {
    flex-direction: column;
    height: unset;
    gap: unset;
  }
  @media screen and (max-width: 420px) {
    padding: 0rem 1rem !important;
  }
  .nav_left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4rem;
    height: 100%;
    @media screen and (max-width: 990px) {
      display: none;
    }
    .nav_name {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 800;
      font-size: 32px;
      line-height: 29px;
      color: #ffffff;
      cursor: pointer;
      @media screen and (max-width: 1028px) {
        width: 220px;
      }
    }
    .nav_twitter {
      @include nav_social;
    }
    .nav_instagram {
      @include nav_social;
    }
    .nav_linkden {
      @include nav_social;
    }
  }
  .nav_right {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    @media screen and (max-width: 990px) {
      display: none;
    }
    .nav_link2 {
      @media screen and (max-width: 1029px) {
        // width: fit-content;
        white-space: nowrap;
      }
    }
    .nav_link {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      padding: 0rem 0.5rem;
      color: #ffffff;
      @include nav_link;
      &:hover {
        cursor: pointer;
        background: #111111;
      }
    }
    .nav_aux_wrap {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
      margin-left: 1rem;
      .nav_shop {
        color: white;
        cursor: pointer;
        font-size: 25px;
      }
      .nav_search {
        color: white;
        cursor: pointer;
        font-size: 16px;
      }
    }
  }
  .navres_wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 91px;
    @media screen and (min-width: 991px) {
      display: none;
    }
    .navres_left {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      .navres_left_icon {
        font-size: 22px;
        color: white;
        cursor: pointer;
        transition: color 0.2s ease-in-out;
      }
      .navres_element_black {
        color: #222222 !important;
        transition: color 0.2s ease-in-out;
      }
      .navres_left_text {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 29px;
        text-transform: uppercase;
        color: #ffffff;
        cursor: pointer;
        transition: color 0.2s ease-in-out;
      }
    }
    .navres_right {
      color: white;
      cursor: pointer;
      font-size: 25px;
      transition: color 0.2s ease-in-out;
    }
    .navres_element_black {
      color: #222222 !important;
      transition: color 0.2s ease-in-out;
    }
  }
  .navres_drop_wrap_close {
    height: 0px;
    // transition: height 0.2s ease-in-out;
  }
  .navres_drop_wrap_open {
    height: 569px;
    transition: height 0.5s ease-in-out;
  }
  .navres_drop_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
    // transition: height 0.5s ease-in-out;
    @media screen and (min-width: 991px) {
      display: none;
    }
    .navres_link {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      padding: 0rem 0.5rem;
      font-family: "Rubik";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 60px;
      align-self: flex-start;
      color: #222222;
    }
    .navres_border {
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
      width: 100%;
    }
    .navres_aux_wrap {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;
      margin-top: 2rem;
      margin-bottom: 4rem;
    }
  }
}
